Debug/
knapsack_without_repetitions.VC
knapsack_without_repetitions.sln
knapsack_without_repetitons/knapsack_without_repetitions.vcxproj
# knapsack_without_repetitons/knapsack_without_repetitions.vcxproj
knapsack_without_repetitons/Debug
.vs/
knapsack_without_repetitions.VC.VC.opendb
knapsack_without_repetitions.VC.db